@model ProjProva2.OrdemVenda

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OrdemVenda</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.quantidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cliente.nomeCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.nomeCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Material.descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Material.descricao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idOrdemVenda }) |
    @Html.ActionLink("Back to List", "Index")
</p>
