@model IEnumerable<ProjProva2.PedidoCompra>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.quantidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fornecedor.nomeFornecedor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Material.descricao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.quantidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fornecedor.nomeFornecedor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Material.descricao)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idPedCompra }) |
            @Html.ActionLink("Details", "Details", new { id=item.idPedCompra }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idPedCompra })
        </td>
    </tr>
}

</table>
